$transition--standardDuration: 250ms;
$transition--slowDuration: 350ms;
$transition--standardFunction: ease-in-out;
$transition--standardTransition: $transition--standardDuration $transition--standardFunction;
