$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e7e7ec;
$grey-400: #d7d7dc;
$grey-500: #b3b3b8;
$grey-600: #6b6b6f;
$grey-700: #57575c;
$grey-800: #41414b;
$grey-900: #202029;

$color--qantasRed: #e40000;
$color--darkTextOnWhite: $grey-800;
$color--lineOnWhite: $grey-100;
