$measurement--headerHeight: 65px;

$measurement--gridUnit: 4px;
$measurement--padding: $measurement--gridUnit * 6;

$measurement--heroHeadingTextSize: 60px;
$measurement--heroHeadingLineHeight: 1.1;

$measurement--largeHeadingTextSize: 48px;
$measurement--largeHeadingLineHeight: 1.1;

$measurement--headingTextSize: 40px;
$measurement--headingLineHeight: 1.1;
$measurement--headingFontWeight: 700;

$measurement--smallHeadingTextSize: 32px;
$measurement--smallHeadingLineHeight: 1.15;
$measurement--smallHeadingFontWeight: 500;

$measurement--bodyTextSize: 20px;
$measurement--bodyTextLineHeight: 1.1;
$measurement--paragraphTextLineHeight: 1.35;

$measurement--smallBodyTextSize: 18px;
$measurement--smallBodyTextLineHeight: 1.3;
